 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --primary: #0f12b3;
    --dark:#333;
    --gray-light:#eee; 
    --gray-hint: #555;
}


body{

    margin: 1rem 5rem;
    font-family: 'Cormorant Garamond', serif;
}

.logo{
    
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    
}

.c_primary{

    color: var(--primary);
}


.vp{

    display: flex;
    justify-content: space-between;
    padding: 1rem;
    
}
.vp ul {

  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  
}




a{

    text-decoration: none;
    color: var(--dark);
    
}

ul{
    text-decoration: none;
    
    
}

.vp ul li {

    padding:  0 1rem;
    font-family: 'Cormorant Garamond', serif;
    
    
    
}


.my-10 {
   
    background-color: var(--dark);
  }

.btn {
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid var(--primary);
    width: 8rem;
    margin: auto;
    
  }
  
  .btn_dark {
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid var(--dark);
    width: 5rem;
    color: var(--gray-light);
    margin: auto;
    
  }


  .btn-primary:hover {
    
    animation-name: bottom1;
    
      animation-duration: 1s;
      animation-fill-mode: forwards;
  }
  
  @keyframes bottom1{
  100%{background-color: var(--primary);
    color: var(--gray-light);}
    
  }
  

  .btn-secondary:hover {
    
    animation-name: bottom2;
    cursor: pointer;
    
      animation-duration: 1s;
      animation-fill-mode: forwards;
  }
  
  @keyframes bottom2{
  100%{background-color: white;
    color: var(--dark);}
    
  }


  nav{ 
    position: sticky;
    top:0;

  }

.vp_nav{

    display: flex;
    padding: 0.5rem;
    
    color: var(--dark);
    justify-content: space-between;
    list-style: none;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    background-color: white;
}



.item:nth-child(1){grid-area: e1;}
.item:nth-child(2){grid-area: e2;}
.item:nth-child(3){grid-area: e3;}
.item:nth-child(4){grid-area: e4;}
.item:nth-child(5){grid-area: e5;}
.item:nth-child(6){grid-area: e6;}


.showcase{

    display: flex;
    flex-flow: row nowrap;
    padding: 1rem 0 1rem 0;

 }

 .article-image-bloc{
    width: 90%;
    
 }


 

 .art{
     display: grid;
     gap: 15px;
     grid-template-columns: 80px auto;
     grid-template-rows: 80px;
     grid-auto-rows: auto;
     margin: 0 1rem 0 1rem; 
     
     
 }

.article-image{

    width: 80px;
    padding: 0.5rem 0;
} 

.art-imageP{
    display: flex;
    align-items: center;
}

.art_p{

   grid-column: 1 / span 2;
   
   
}

.espace_padding{
   
    padding: 0.5rem 0;

}

 em{

    font-size: small;
    padding: 10rem 0;
 }

.ads{
    display: grid;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color:var(--gray-light);
    grid:
    "e1 e2 e3 e3"1fr
    "e1 e2 e4 e4"3rem
    "e1 e2 e5 e5"2rem
    "e1 e2 e6 e6"2rem
    "e1 e2 e7 e7"1fr
    
    ;
}


input[type="mail"]{
    background-color: transparent;
    border:0;
    outline:0;
    border-bottom: 1px solid var(--gray-hint);
    padding: 0.5rem;
    
   
}

.article-image5{
    height: 30vh;
}

.ads h3{
    font-weight:inherit;
    font-size: 35px;
}

.ads p{

    font-size: small;
}

.content{

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    
   
}

.articles{

    margin: 1rem;
    width: 80%;
}

.popular{
    margin: 1rem;
    width: 20%;
}

.art_technologie{

    padding: 1rem;
    display: grid;
    column-gap: 1rem    ;
    margin-bottom: 1rem;
    grid:
    "e1 e5"
    "e2 e5"
    "e3 e5"
    "e4 e5"
    "e7 e5"   
}

.art_popular{

    display: grid;
    column-gap: 1rem;
    margin-bottom: 1rem;
    
    grid:
    "e5 e2"
    "e1 e3"20px
    "e6 e4"
}

